{% extends 'base.html' %}

{% block title %}
Сброс пароля | {{ block.super }}
{% endblock title %}

{% block content %}
    <br>
    <div class="row">



<div class="card card-small card-post mb-8">
                  <div class="card-body">
                    <h5 class="card-title">Мы отправили вам по электронной почте инструкции по смене пароля.<br>
                    Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который зарегистрировались.</h5>
                  </div>

                </div>
              </div>


{% endblock content %}