{% extends 'base.html' %}
{% load static %}

{% block title %}
    Отказано в доступе | {{block.super}}
{% endblock title %}

{% block page-header %}
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                  <span class="text-uppercase page-subtitle"><h4>Отказано в доступе</h4></span>
              </div>
            </div>
{% endblock page-header %}

{% block ads %}

    {% include 'ads/_ads-5.html' %}

{% endblock ads %}


{% block content %}

<div class="main-content-container container-fluid px-4 container d-flex h-100">

            <!-- Default Light Table -->
            <div class="row align-self-center w-100">
              <div class="col-lg-6 mx-auto">
                <div class="card card-small mb-4 pt-3">
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <img class="rounded-circle" src="{% static 'no_img/access-denied.png' %}" alt="{{block.super}}" width="110"> </div>

                    <span class="text-muted d-block mb-2">У вас нет прав на просмотр этого контента</span>

                      <a class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2" href="{% url 'login' %}"
                         role="button"> <i
                              class="fa fa-sign-in"></i> Вход</a>

                  </div>
                </div>
              </div>
            </div>
            <!-- End Default Light Table -->
          </div>

{% endblock content %}