{% extends 'base.html' %}
{% load static %}
{% load user_group_filter %}


{% block content %}

    <div class="row mt-4">
        <!-- Users Stats -->
        <div class="col-lg-8 mb-4">
            <div class="card card-small"> <!-- h-100 -->
                <div class="card-header border-bottom">
                    <h5 class="m-0">Форма добавления поста</h5>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col">

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                {{form.non_field.errors}}
                            <div class="form-row">
                              <div class="form-group col-md-8">
                                <label for="{{ form.title.id_for_label }}">Заголовок</label>
                                 {{ form.title }}
                              </div>
                                <div class="errorlist">{{form.title.errors}}</div>

                                <div class="form-group col-md-4">
                                <label for="{{ form.category.id_for_label }}">Категория</label>
                                  {{ form.category }}
                              </div>
                                <div class="errorlist">{{form.category.errors}}</div>

                              <div class="form-group col-md-12">
                                <label for="{{ form.photo.id_for_label }}">Превью (Основная картинка)</label>
                                  {{ form.photo }}
                              </div>
                                <div class="errorlist">{{form.photo.errors}}</div>
                            </div>


                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="{{ form.content.id_for_label }}">Текст поста</label>
                                   {{ form.media }}
                                {{ form.content }}
                                  <div class="errorlist">{{form.content.errors}}</div>
                              </div>
                            </div>

                                {% if request.user|is_group:"Redactor" or request.user|is_group:"Admin" %}

                                    <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="{{ form.file.id_for_label }}">Файл</label>
                                {{ form.file }}
                                  <div class="errorlist">{{form.file.errors}}</div>
                              </div>
                                    <div class="form-group col-md-4">
                                <label for="{{ form.is_published.id_for_label }}">Опубликовать?</label>
                                {{ form.is_published }}
                                  <div class="errorlist">{{form.is_published.errors}}</div>
                              </div>
                            </div>

                                {% endif %}
                                 <div class="form-group col-md-8">
                                <label for="{{ form.captcha.id_for_label }}">Каптча</label>
                                {{ form.captcha }}
                                  <div class="errorlist">{{form.captcha.errors}}</div>
                              </div>


                            <button type="submit" class="btn btn-accent">Отправить</button>
                          </form>



                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- End Users Stats -->
        <!-- Users By Device Stats -->
        <div class="col-lg-4 mb-3">
            <div class="card card-small"> <!-- h-100 -->
                <div class="card-header border-bottom">
                    <h6 class="m-0">Автор</h6>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mb-3 mx-auto">
                            </div>
                            dddddddddddd
                        </div>
                        <div class="col-lg-9">
                            <div class="text-center ml-4">
                                dddddddd
                            </div>


                            <div class="text-center ml-4 mt-3">
                                ssss
                            </div>

                        </div>


                    </div>

                </div>

            </div>
            <div class="card card-small sticky mt-4"> <!-- h-100 -->
                <div class="card-header border-bottom">
                    <h6 class="m-0">Реклама</h6>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            кккккккккккккккккeeeeeeeeeeeeeeeeeeeeeee

                        </div>


                    </div>

                </div>

            </div>


        </div>
    </div>

{% endblock content %}
