{% load static %}


            <div class="row">
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img class="rounded"
                    src="{% static 'no_img/wwww.png' %}" alt="adv" width="200"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img class="rounded"
                    src="{% static 'no_img/wwww.png' %}" alt="adv" width="200"></a>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img class="rounded"
                    src="{% static 'no_img/wwww1.jpg' %}" alt="adv" width="200"></a>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img class="rounded"
                    src="{% static 'no_img/wwww.png' %}" alt="adv" width="200"></a>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-12 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img class="rounded"
                    src="{% static 'no_img/wwww1.jpg' %}" alt="adv" width="200"></a>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-5"></canvas>
                  </div>
                </div>
              </div>
            </div>