<div class="color-switcher animated">
    <h5>Accent Color</h5>
    <ul class="accent-colors">
      <li class="accent-primary active" data-color="primary">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-secondary" data-color="secondary">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-success" data-color="success">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-info" data-color="info">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-warning" data-color="warning">
        <i class="material-icons">check</i>
      </li>
      <li class="accent-danger" data-color="danger">
        <i class="material-icons">check</i>
      </li>
    </ul>
    <div class="actions mb-4">
      <a class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action" href="https://designrevision.com/downloads/shards-dashboard-lite/">
        <i class="material-icons">cloud</i> Download</a>
      <a class="mb-2 btn btn-sm btn-white w-100 d-table mx-auto extra-action" href="https://designrevision.com/docs/shards-dashboard-lite">
        <i class="material-icons">book</i> Documentation</a>
    </div>
    <div class="social-wrapper">
      <div class="social-actions">
        <h5 class="my-2">Help us Grow</h5>
        <div class="inner-wrapper">
          <a class="github-button" href="https://github.com/DesignRevision/shards-dashboard" data-icon="octicon-star" data-show-count="true" aria-label="Star DesignRevision/shards-dashboard on GitHub">Star</a>
          
        </div>
      </div>
      <div id="social-share" data-url="https://designrevision.com/downloads/shards-dashboard-lite/" data-text="🔥 Check out Shards Dashboard Lite, a free and beautiful Bootstrap 4 admin dashboard template!" data-title="share"></div>
      <div class="loading-overlay">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="close">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="color-switcher-toggle animated pulse infinite">
    <i class="material-icons">settings</i>
  </div>