{% load static %}

<div class="color-switcher animated">
    <h5>Мы в соц. сети</h5>
    <div class="progress-wrapper mt-3">
                            <div class="text-center">

                                    <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img
                                            class="rounded-circle" src="{% static 'social/site_telegram.ico' %}"
                                            alt="telegram" width="40"></a>

                                    <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img
                                            class="rounded-circle" src="{% static 'social/site_YT.ico' %}" alt="youtube"
                                            width="40"></a>

                                    <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img
                                            class="rounded-circle" src="{% static 'social/site_git.ico' %}" alt="github"
                                            width="40"></a>

                            </div>
                        </div>
    <div class="progress-wrapper mt-1">
                            <div class="text-center">

                                    <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img
                                            class="rounded-circle" src="{% static 'social/site_facebook.ico' %}"
                                            alt="facebook" width="40"></a>

                                    <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img
                                            class="rounded-circle" src="{% static 'social/site_vk.ico' %}"
                                            alt="vkontakte"
                                            width="40"></a>

                                    <a href="#" rel="noopener noreferrer nofollow" target="_blank"><img
                                            class="rounded-circle" src="{% static 'social/site_inst.ico' %}"
                                            alt="instagram" width="40"></a>

                            </div>
                        </div>
    <div class="actions mb-4">
        Django-blog для каждого
    </div>
    <div class="social-wrapper">
      <div class="social-actions">
        <h5 class="my-2">Поддержать</h5>
        <div class="inner-wrapper">
          <a class="github-button" href="https://github.com/pro100git/django-blog" data-icon="octicon-star"
             data-show-count="true" aria-label="Star Django-blog on GitHub">Star</a>
          
        </div>
      </div>
      <div id="social-share" data-url="https://github.com/pro100git/django-blog" data-text="🔥
      Django-blog"
           data-title="share"></div>
      <div class="loading-overlay">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="close">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="color-switcher-toggle animated pulse infinite">
    <i class="material-icons">settings</i>
  </div>