<li class="nav-item border-right dropdown notifications">
            <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="nav-link-icon__wrapper">
                    <i class="material-icons">&#9993;</i>
                    <span class="badge badge-pill badge-danger">{{ posts_count }}</span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">

                {% for post_f in post_false %}

                <div class="row ml-1 mr-1">
                    <div class="col-12">
                        <a style="font-size: 15px" class="font-weight-bold" href="{% url 'edit_post' post_f.slug %}"
                           target="_blank">{{ post_f.title }}</a>
                    </div>
                    <div class="col-12">
                        {{ post_f.content|truncatewords:10|safe }}
                    </div>

                </div>

                {% endfor %}

            </div>
        </li>